/* RESET */
* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    
    --cor-primaria:#0DBCA7;
    font-size: 62,5%;
    /*Por default, 16px é igual a 100%, adotaremos 62,5% que é igual a 10px, para 
    facilitar a conversão para rem, sendo assim,  10px equivale a 1rem. Outro exemplo:
    1.5 rem equivale a 15px, basta multiplicar 1.5 rem por 10, ou do contrario, dividir por 10*/
 }

.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
/* body{

} */
header{
    background: var(--cor-primaria);
}
.header > div{
    display: flex;
    justify-content: space-between;
}
.nav{
    display: flex;
    align-items: center;
}
.nav ul{
    display: inherit;

}
.nav a{
    text-decoration: none;
}
.nav li{
    list-style: none;
}
