/* RESET */
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #0DBCA7;
    --cor-secundaria: #D1F6EF;
    --cor-terceiaria: #E1E3E8;
    --cor-quartenaria: hsla(169, 98%, 50%, 0.5);
    font-size: 62.5%;
    /*Por default, 16px é igual a 100%, adotaremos 62,5% que é igual a 10px, para 
    facilitar a conversão para rem, sendo assim,  10px equivale a 1rem. Outro exemplo:
    1.5 rem equivale a 15px, basta multiplicar 1.5 rem por 10, ou do contrario, dividir por 10*/
}

.container {
    width: 100%;
    max-width: 124.0rem;
    margin: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 1vmax;
}

/*---------------------HEADER-------------------------*/
header {
    align-items: center;
    background: var(--cor-primaria);
}

header>div {
    display: flex;
    justify-content: space-between;
}

.perfil {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 1.4rem 0 1.4rem 0;

}

.perfil img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: solid .3rem #fff;
}

.perfil_conteudo {
    color: #fff;
    padding-left: 2.4rem;
}

.perfil_conteudo>p {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.65);
}

.perfil_conteudo>h2 {
    font-size: 2rem;
    font-weight: lighter;
}

nav {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: lighter;
}

ul {
    display: inherit;
}

li {
    list-style: none;
    padding-right: 4rem;
}

a {
    color: #fff;
    text-decoration: none;
}

main {
    position: relative;
}

/*---------------------BANNER-------------------------*/

.banner {
    background: var(--cor-secundaria);
}

.banner_fundo {
    position: absolute;
    top: 11.8rem;
    width: 100%;
    height: 26.4rem;
    background: hsla(0, 0%, 100%, 0.65);
}

.banner>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner_img {
    display: flex;
    align-items: flex-end;
    height: 50rem;
    z-index: 2;
}

.banner_img>img {
    width: 46.4rem;
    height: 46rem;
}

.banner_text {
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    color: #0DBCA7;
    z-index: 1;
}
/*------------------Seção Turmas-------------------*/
section{
    padding-bottom: 3.4rem;
}
section h2 {
    padding-top: 7rem;
    padding-bottom: 1.6rem;
    font-size: 2.4rem;
    font-weight: 500;
}

.hr1 {
    width: 100%;
    border: solid 0.1rem var(--cor-terceiaria);
}

/*Cards turma*/
.turmas > div{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    padding-top: 4rem;
}

.article_turma {
    border: solid 0.1rem var(--cor-terceiaria);
    border-radius: 1.5rem;
    margin-bottom: 10.9rem;
}

/*Informações turma*/
.info_turmas {
    padding-top: 2.4rem;
    padding-left: 1.6rem;
}

.info_turmas>h3 {
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 1.6rem;
}

.info_turmas p {
    font-size: 1.6rem;
    font-weight: lighter;
    padding-bottom: 1rem;
}

.fa-solid {
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
    font-weight: lighter;
    padding-top: 2.4rem;
    padding-bottom: 1.6rem;
    color: #6789CA;
}

.hr2 {
    border: solid 0.1rem var(--cor-terceiaria);
}

/*Informações envio*/
.info_envios>h4 {
    font-size: 1.4rem;
    font-weight: lighter;
    padding-top: 1.6rem;
    padding-left: 1.6rem;
    padding-bottom: 2.4rem;
}

.btn1_posicao {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding-right: 2.4rem;
    padding-bottom: 2.4rem;
}

.btn1_posicao a {
    font-size: 1.4rem;
    padding: 0.8rem 3.4rem;
    color: var(--cor-primaria);
    border: solid 0.1rem var(--cor-primaria);
    border-radius: 2rem;
    background-color: #fff;
}

/*Página Aluno*/
.info_topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 7rem;
    padding-bottom: 1.6rem;
}

.info_topo>h2 {
    font-size: 2.4rem;
    font-weight: 500;
}

.info_topo>h3 {
    font-size: 1.2rem;
    font-weight: lighter;
}

.search {
    display: flex;
    gap: 3 rem;
    padding-top: 1.3rem;
    justify-items: center;
    font-size: 3.5rem;
}

.search input {
    width: 30%;
    border-bottom: solid 0.2rem #cacaca;
}

.section_alunos {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    padding-top: 4rem;
}

.container_aluno {
    display: grid;
    grid-template-rows: auto auto;
    gap: 1rem;
    border: solid 0.2rem var(--cor-terceiaria);
    border-radius: 1rem;
    padding-top: 1.6rem;
    padding-left: 1.6rem;
    padding-bottom: 1.6rem;
}

.btn2_posicao {
    display: flex;
    justify-content: flex-end;
    padding-right: 2.4rem;
}

.btn2_posicao a {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--cor-primaria);
    background: #02fdcf1c;
    border: solid 0.1rem var(--cor-primaria);
    border-radius: 2rem;
    padding: 0.4rem 3.4rem;
}

.info_aluno {
    display: flex;
    gap: 1.7rem;
}

.img_aluno img {
    border-radius: 1.5rem;
}

.text_aluno label {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.4;
}
 /*-----------------Turmas------------------*/
 .todas_as_turmas{
    display: flex;
    gap: 1rem;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-bottom: 1.8rem;
    justify-items: center;
    font-size: 1.4rem;
}

.section_mensagem {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 25.7rem;
}

.box_mensagem {
    display: grid;
    grid-template-rows: auto auto;
    border: solid 0.2rem var(--cor-terceiaria);
    border-radius: 1.5rem;
    padding-top: 1.6rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    padding-bottom: 1.5rem;
}
.checkbox_mensagem{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
    padding-top: 1.7rem;    
    padding-bottom: 3rem;
}
.input_text input{
    display: inline;
    border: solid 0.1rem var(--cor-terceiaria);
    border-radius: 1.5rem;
    width: 100%;
    height: 13.1rem;
}
.btn3_enviar{
    font-size: 1.4rem;
    font-weight: 400;
    color: #000;
    background: #02fdcf1c;
    border: solid 0.1rem var(--cor-primaria);
    border-radius: 2rem;
    padding: 0.4rem 3.4rem;
}
/*----------------Footer---------------*/
footer {
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--cor-primaria);
    padding: 2rem 0 2rem 0;
}