/* RESET */
* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #0DBCA7;
    font-size: 62.5%;
    /*Por default, 16px é igual a 100%, adotaremos 62,5% que é igual a 10px, para 
    facilitar a conversão para rem, sendo assim,  10px equivale a 1rem. Outro exemplo:
    1.5 rem equivale a 15px, basta multiplicar 1.5 rem por 10, ou do contrario, dividir por 10*/
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background: var(--cor-primaria);
}

header>div {
    display: flex;
    justify-content: space-between;
}

.perfil {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 1.4rem 0 1.4rem 0;
}

.perfil img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: solid 0.3rem #fff;
}

.perfil_conteudo {
    color: #fff;
    padding-left: 2.4rem;

}
.perfil_conteudo > p{
    font-size: 1.2rem;
    padding-top: 0.25rem;
}
.perfil_conteudo h2{
    font-size: 2rem;
}

nav {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

ul {
    display: inherit;
}

li {
    list-style: none;
    padding-right: 3rem;
}

a {
    color: #fff;
    text-decoration: none;
}

footer{
    font-size: 1.4rem;
    text-align:center;
    color: #fff;
    background-color: var(--cor-primaria);
    padding: 2rem 0 2rem 0;
}